body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

/* Navbar */
.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url(images/img1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
}

.bottom-border {
border-bottom: 1px groove #eee;
}

.sidebar-link:hover {
background-color: #444;
border-radius: 5px;
}
.sidebar-link {
transition: all .4s;
}

.current {
background-color: #f44336;
border-radius: 7px;
box-shadow: 2px 5px 10px #111;
transition: all .3s;
}

.current:hover {
background-color: #f66436;
border-radius: 7px;
box-shadow: 2px 5px 20px #111;
transform: translate(-1px);
}

.search-input {
background: transparent;
border: none;
border-radius: 0;
border-bottom: 2px solid #999;
transition: all 0.4s;
}

.search-input:focus {
background: transparent;
box-shadow: none;
border-bottom: 2px solid #dc3545;
}

.search-button {
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}

.search-button:hover {
background-color: #eee;
transform: translate(-1px);
}

.icon-parent {
position: relative;
}

.icon-bullet ::after {
content: "";
position: absolute;
top: 7px;
left: 15px;
height: 12px;
width: 12px;
background-color: #f44336;
border-radius: 50%;
}

@media(max-width: 768px) {
.sidebar {
position: static;
height: auto;
}

.top-navbar {
position: static;
}
}
/* End of Navbar */

/* Cards */
.card-common {
box-shadow: 1px 2px 5px #999;
transition: all .4s;
}

.card-common:hover {
box-shadow: 2px 3px 15px #999;
transform: translateY(-1px);

}
/* End of Cards */

/* Task-list */
.task-border {
border-left: 3px solid #f66346
}

/* End of Task-list */

.box {
    background-color: #34495e;
    width: 100%;
}

.title {
    padding-left: 8px;
    padding-top: 1px;
    color: white;
    font-size: 20px;
}

.description {
    padding-left: 8px;
    color: white;
    font-size: 15px;
}

.date {
    padding-left: 8px;
    color: white;
    font-size: 10px;
    padding-bottom: 5px;
}

.center-text {
    margin-left: 50%;
}

.title-header {
    padding-top: 5%;
    padding-bottom: 2%;
}

.btn-create {
    padding-bottom: 15px;
}


* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }